[DEFAULT]

# the name of the script that performs the normalization
normalization_script = normalize.R

# the name of the directory which will contain the output files (located in the output directory)
normalized_counts_output_dir = normalized_read_counts

# the final name of the output file (normalized count matrix)
normalized_counts_file_prefix = normalized_count_matrix
