# This file serves as a configuration file for the STAR aligner for the human genome (hg19)

[50]
# this has the index built with the splice-junction overhang set to 50, so this is more tuned to 50bp reads
STAR_GENOME_INDEX=/cccbstore-rc/projects/db/genomes/Human/GRCh37.75/STAR_INDEX_50


[DEFAULT]
#default has 100bp-based index, which is OK for 50bp reads, but not adequate for >100bp
GTF=/cccbstore-rc/projects/db/genomes/Human/GRCh37.75/GTF/Homo_sapiens.GRCh37.75.gtf
STAR_GENOME_INDEX=/cccbstore-rc/projects/db/genomes/Human/GRCh37.75/STAR_INDEX_50
GTF_FOR_RNASEQC=/cccbstore-rc/projects/db/genomes/Human/GRCh37.75/GTF/Homo_sapiens.GRCh37.75.transcript_id.chr_trimmed.gtf

