<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>RNA-Seq Analysis Results</title>
		
		<!-- jQuery-->
		<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
		<script src="lib/jquery.min.js"></script>
		<!-- Bootstrap -->
		<link href="lib/bootstrap.min.edit.css" rel="stylesheet">
		
		<!-- Custom css-->	
		<link href="lib/rnaseq_report.css" rel="stylesheet">

		<!--custom javascript-->
		<script src="lib/rnaseq_report_custom.js"></script>

	</head>
	<body>
    		<div class="simple_header">
        		<div>
            			<span class="left_header">RNA-Seq Report</span>
            		</div>
            		<div>
				<span class="right_header">
					<img id="cccb_logo" src="lib/CCCB_Logo.png"></img>
		        	</span>
            		</div>
		</div>
		
		<div class="spacer-div">
		</div>

		<div class="container-fluid">
			<div class="row">
				<ul id="tabPanel" class="nav nav-tabs">
					{% for section in section_list %}
					<li>
						<a data-toggle="tab" href="#{{section.href}}">{{section.text}}</a>
					</li>
					{% endfor %}
				</ul>

				<div class="tab-content">
					<!-- Tab contents are added here-->
					<!-- #CONTENT_SECTION#  -->
	
					{% for section in sections %}	
					<div class="tab-pane fade" id="{{section.href}}">
						<div class="simple_div">
							<h2>{{section.header_message}}</h2>
						</div>
						<div class="container content-container">
							<div class="row">
								{% if section.panel_section %}
									{% for panel in section.contents %}
									<div class="panel panel-primary">
										<div id="{{panel.id}}_panel" class="panel-heading keep-pointer">
											<h3 class="panel-title">{{panel.title}}</h3>
										</div>
										<div id="{{panel.id}}_view" class="panel-body content-panel">
											{% if panel.has_iframe %}
											<div class="top-and-bottom-padding">
												<a href="{{panel.link}}" target="{{panel.id}}_iframe">Back to original report</a>
												<a class="padded-link" href="{{panel.link}}" target="_blank">Open in new tab</a>
											</div>
											<iframe id="{{panel.id}}_iframe" name="{{panel.id}}_iframe" src="{{panel.link}}" class="simple_iframe" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0">
											</iframe>
											{% else %}
											<div>
												<img src="{{panel.link}}" alt="File not processed/found" style="width: 95%;"></img>
											</div>
											{% endif %}
											<button class="btn btn-primary view_close" type="button">Close panel</button>
										</div>
									</div>
									{% endfor %}
								{% elif section.link_section %}
									{% for link in section.contents %}
									<div>
										<h3>
											<a href="{{link.href}}">{{link.text}}</a>
										</h3>
									</div>
									{% endfor %}
								{% endif %}
							</div>
						</div>
					</div>
					{% endfor %}

				</div> <!--close tab-content div -->
			</div> <!-- close row div -->
		</div> <!-- close container-fluid -->
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

		<!-- Include all compiled plugins (below), or include individual files as needed -->
	    	<script src="lib/bootstrap.min.js"></script>
	</body>
</html>


