[DEFAULT]

# full path to the executable:
rnaseqc_jar = /cccbstore-rc/projects/cccb/apps/rnaSeQC/RNA-SeQC_v1.1.7.jar

# the name of the directory which will contain the output files (located in the output directory)
rnaseqc_output_dir = rnaSeQC

# a special GTF file compatible with this tool (rna-seQC requires particular fields)
rnaseqc_gtf = /cccbstore-rc/projects/db/genomes/Human/GRCh37.75/GTF/Homo_sapiens.GRCh37.75.transcript_id.chr_trimmed.gtf

# the name of the html page created by RNA-SeQC
rnaseqc_report_name = report.html

